/cloudcoder.properties
/keystore.jks
*~
*.swp
installations
/deps
CloudCoderTools
CloudCoderBuilder
LATEST
.DS_Store
/bin/
*/target/**
*/dependency-reduced-pom.xml
.settings
target/**
.classpath
.project
.settings/
target/
